
body{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(background.jpg);
    background-color: #E5D9F2;
    font-family: "tahoma";
    color: #A59D84;
}
form{
    border-radius: 20px;
    background-color: #FFD65A;
    width: 250px;
    padding: 2em;
    margin: 2em auto;
    text-align: center;
    box-shadow: 2px 2px 5px 0px #A59D84;
}

table{
    border-radius: 20px;
    background-color: #EFB6C8;
    width: 90%;
    padding: 2em;
    margin: 2em auto;
    margin-top: 0px;
    box-shadow: 2px 2px 5px 0px #993333;
}

input{
    border-radius: 5px;
    border:solid .2em;
    border-color: #A59D84;
    display:block;
    width: 100%;
    padding: .2em;
    margin: .5em auto;
    margin-top: 0px;
    align-content: center;
}

input[type='submit']{
    background-color: #B6CBBD;
    width: 60%;
    height:35px;
    padding:.5em;
    margin-top:1em;
    border:none;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0px #993333;
}

input[type='submit']:hover{
    background-color: #33f533;
    transform:scale(1.1);
}

tr{
    border-bottom: solid .1em #993333;
}

tr:hover{
    background-color: #bbffbb;
    color: #226622;
}

tr:nth-child(even){
    background-color: #ffdddd;
}

td{
    padding: .5em;
}
th{
    padding: .5em;
}
thead{
    background-color: #993333;
    color: #ffdddd;
}

.btn{
    padding: .3em;
    margin: .3em;
    background-color: #339933;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
}

.btn:hover{
    background-color: #55aa55;
    color: #ffffff;
}
.btn:active{
    background-color:#D5E7B5;
}


